*, *>* {
	box-sizing: border-box;
	padding: 0.1px;
}
body {
	margin: 0;
	color: #666;
}
h1 {
	text-align: center;
	margin-bottom: 6px;
}
h2 {
	margin: 0;
	margin-bottom: 6px;
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
}
.screen-part {
	background-color: #f3f3f3;
	margin: 6px;
	max-width: 500px;
}

#navigationContainer ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
#navigationContainer ul li {
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.2s ease;
}
#navigationContainer ul li.is-selected {
	flex-grow: 5;
}
#navigationContainer li img {
	position: absolute;
	width: 400px;
	filter: brightness(0.4);
}
#navigationContainer ul li.is-selected img {
filter: brightness(1);
}
#navigationContainer ul li:not(.is-selected):hover img {
filter: brightness(0.7);
}

#navigationContainer li div {
	background-color: rgba(0,0,0,0.75);
	color: white;
	font-size: 16px;
	letter-spacing: 4px;
	width: 100%;
	text-align: center;
}






#playerStats td {
	text-align: left;
}
#playerStats td:not(:first-child) {
	text-align: right;
}
.hasbonus {
	font-weight: bold;
}
.details {
	font-size: 12px;
	color: #aaa;
	font-weight: normal;
	letter-spacing: 1px;
}

/*#playerStatsContent,*/
#shopContent,
#inventoryContent {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
    width: 400px;
}
td button {
	padding: 4px 8px;
	margin: 0 4px;
}