<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>items</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="mainContainer">
	<div rv-if="settings.showById.playerStats" id="playerStats" class="screen-part">
		<h1>Player stats</h1>
		<div id="playerStatsContent">
			<table>
				<tr rv-each-stat="player.iterableStats" >
					<td>{stat.name}</td>
					<td rv-class-hasbonus="stat.totalBonus">{stat.value}
						<span rv-if="stat.maxHp">/{stat.maxHp.value}</span>
					</td>
					<td rv-if="stat.totalBonus" style="color: darkgreen; font-size: 12px;">({stat.root} + {stat.totalBonus})</td>
				</tr>
				<tr>
					<td>Money</td>
					<td>{player.money}</td>
				</tr>
			</table>
		</div>
	</div>



	<div rv-if="settings.showById.inventory" id="inventory" class="screen-part">
		<h1>Player inventory</h1>
		<div id="inventoryContent">
			<div id="equipmentsContainer">
				<h2>Equipments</h2>
				<table id="equipmentsList">
					<tr rv-each-eq="player.backpack" >
						<td
						rv-if="eq.isEquipment" 
						rv-class="eq.type" 
						rv-class-isequipped="eq.isEquipped" 
						>
							<span>
								{ eq.name }
							</span>
						</td>
						<td rv-if="eq.isEquipment">
							<button rv-if="settings.showById.shop" rv-on-click="eq.toggleEquipment">equip</button>
						</td>
						<td rv-if="eq.isEquipment">
							<button rv-if="settings.showById.shop" rv-on-click="eq.sell">sell</button>
						</td>
						<td rv-if="eq.isEquipment">
							<!-- placeholder-->
							<span rv-unless="eq.isEquipped" style="color: transparent">
								(equipped)
							</span>
							<span rv-if="eq.isEquipped" style="color: #999">
								(equipped)
							</span>
						</td>

					</tr>
				</table>
			</div>
			<div id="itemsContainer">
				<h2>Items</h2>
				<table id="itemsList">
					<tr rv-each-it="player.backpack">
						<td
						rv-unless="it.isEquipment" 
						rv-class="it.type"
						>
							{ it.name }
						</td>
						<td rv-unless="it.isEquipment" >
							<button rv-if="settings.showById.shop" rv-on-click="it.doEffect">use</button>
						</td>
						<td rv-unless="it.isEquipment" >
							<button rv-if="settings.showById.shop" rv-on-click="it.sell">sell</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<div rv-if="settings.showById.shop" id="shop" class="screen-part">
		<h1>{shop.name} <span class="details">({shop.vendorName})</span></h1>
		<div id="shopContent">
			<div id="equipmentsContainer">
				<h2>Equipments</h2>
				<table id="equipmentsList">
					<tr rv-each-eq="shop.inventory">
						<td rv-if="eq.isEquipment">
							{eq.name}
						</td>
						<td rv-if="eq.isEquipment">
							<button rv-if="settings.showById.shop" rv-on-click="eq.buy">buy</button>
						</td>
					</tr>
				</table>
			</div>
			<div id="itemsContainer">
				<h2>Items</h2>
				<table id="itemsList">
					<tr rv-each-it="shop.inventory">
						<td 
						rv-unless="it.isEquipment">
							{it.name}
						</td>
						<td rv-unless="it.isEquipment">
							<button rv-if="settings.showById.shop" rv-on-click="it.buy">buy</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>





</div> <!-- end #mainContainer -->


<!-- jquery -->
<script	src="js/utils/jquery.js"></script>
<script	src="js/utils/rivets.js"></script>
<script	src="js/main.js"></script>

</body>
</html>